<div class="matrix">
  {{board-component
    matrix=matrix
    boom=boom
    counterSize=counterSize
    updateMatrix=updateMatrix}}
  <!-- {{#each matrix as |element index|}}
    {{counter-component
      matrix=matrix
      size=counterSize
      counter=index
      boom="boom"
      updateMatrix="updateMatrix"}}
  {{/each}} -->
</div>

<div class="control-panel">
  <div class="clicks">
    {{clicks}}
  </div>
  <div class="message">
    {{message}}
  </div>
</div>
